<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <cpn :number1="num1" :number2="num2" @num2change="num2c" @num1change="num1c"></cpn>
</div>

<template id="cpn">
    <!--组件模版中必须有一个根-->
    <div>
        <hr>
        直接修改prop中的数据
        <h2>{{number1}}</h2>
        <!--vue官方不推荐在子组件中修改prop的数据-->
        <!--如果展示可以使用prop，但是修改要使用data或计算属性-->
        <input type="text" v-model="number1">
        <h2>{{number2}}</h2>
        <input type="text" v-model="number2">


        <hr>
        通过data或计算属性修改
        <!--在组件中使用data或计算属性-->
        <h2>{{dnumber1}}</h2>
        <input type="text" v-model="dnumber1">
        <h2>{{dnumber2}}</h2>
        <input type="text" v-model="dnumber2">


        <hr>
        通过data或计算属性修改(v-model原理版)
        <!--修改子组件中的数据，同时修改父组件中的数据-->
        <h2>{{dnumber1}}</h2>
        <input type="text" :value="dnumber1" @input="dnumber1=$event.target.value">
        <h2>{{dnumber2}}</h2>
        <input type="text" :value="dnumber2" @input="dnumber2=$event.target.value">


        <hr>
        通过data或计算属性修改(v-model原理版使用函数)
        <!--修改子组件中的数据，同时修改父组件中的数据-->
        <h2>{{dnumber1}}</h2>
        <input type="text" :value="dnumber1" @input="num1Input">
        <h2>{{dnumber2}}</h2>
        <input type="text" :value="dnumber2" @input="num2Input">
    </div>
</template>

<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            num1:1,
            num2:0
        },
        methods:{
            num1c(num1){
                //parseInt();
                this.num1 = num1 * 1;
            },
            num2c(num2){
                this.num2 = num2 * 1;
            }
        },
        components:{
            cpn:{
                template:'#cpn',
                props:{
                    number1:Number,
                    number2:Number
                },
                data(){
                    return {
                        dnumber1:this.number1,
                        dnumber2:this.number2
                    }
                },
                methods:{
                    num1Input(event){
                        this.dnumber1 = event.target.value;

                        //使用事件通知父组件
                        this.$emit('num1change',this.dnumber1)
                    },
                    num2Input(event){
                        this.dnumber2 = event.target.value;

                        //使用事件通知父组件
                        this.$emit('num2change',this.dnumber2)
                    }
                }
            }
        }
    });
</script>

</body>
</html>